[core]
	pager = nvim -u NORC -R -
[color]
	ui = false
[difftool]
	prompt = false
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[commit]
	gpgsign = true
[user]
	email = listout@protonmail.com
	name = listout
