URxvt.scrollBar: flase

URxvt.font: xft:TamzenForPowerline:pixelsize=15
URxvt.boldFont: xft:TamzenForPowerline:bold:pixelsize=15

!URxvt.background: black
!URxvt.foreground: white

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.iso14755: false

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select

URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

*background:#0b0906
*foreground:#c3cbd3
*cursor:#c3cbd3

! Colors
*color0:#0b0906
*color1:#57646F
*color2:#687887
*color3:#778797
*color4:#7F90A0
*color5:#808F9E
*color6:#8899A9
*color7:#c3cbd3
*color8:#888e93
*color9:#57646F
*color10:#687887
*color11:#778797
*color12:#7F90A0
*color13:#808F9E
*color14:#8899A9
*color15:#c3cbd3

! FZF colors
export FZF_DEFAULT_OPTS=" \
    $FZF_DEFAULT_OPTS \
    --color fg:7,bg:0,hl:1,fg+:232,bg+:1,hl+:255 \
    --color info:7,prompt:2,spinner:1,pointer:232,marker:1 \
"

! Fix LS_COLORS being unreadable.
export LS_COLORS="${LS_COLORS}:su=30;41:ow=30;42:st=30;44:"

! vim: set filetype=xdefaults nomodeline:
