! Colors
URxvt.background:  black
URxvt.foreground:  white
URxvt.cursorColor: #8ae234
*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

! URxvt config
URxvt.scrollBar: flase

URxvt.font: xft:ypn envypn:pixelsize=13
URxvt.boldFont: xft:ypn envypn:bold


URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.iso14755: false

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select

URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

! vim: set filetype=xdefaults nomodeline:
